/* inicio del encabezado del index*/
.encabezado-index .navbar {
  background-color: #84b6f4; }
  .encabezado-index .navbar .logo-nav img {
    width: 50px;
    height: 50px;
    position: relative; }
  .encabezado-index .navbar .nav-link {
    font-size: 20px; }

.encabezado .navbar .logo-nav img {
  width: 50px;
  height: 50px;
  position: relative; }

.encabezado .navbar .nav-link {
  font-size: 20px; }

.cuerpo .informacion {
  background-image: url(../public/limonada-frutos-rojos.jpg);
  background-size: cover;
  background-position: center;
  height: 800px; }
  .cuerpo .informacion .encabezado-titulo {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    padding-top: 100px; }
    .cuerpo .informacion .encabezado-titulo h1 {
      margin-bottom: 5px;
      font-size: 30px;
      color: #f5e508; }
    .cuerpo .informacion .encabezado-titulo h3 {
      text-align: center;
      font-size: 20px;
      color: #0cfbfb; }
    .cuerpo .informacion .encabezado-titulo p {
      font-family: 'Pacifico', cursive;
      font-size: 10px;
      color: #f5e508;
      padding-bottom: 20px; }
  .cuerpo .informacion .dias-martes {
    color: #f9baba; }
  .cuerpo .informacion .dias-domingo {
    color: #fc8787; }
  .cuerpo .informacion .dias-lunes {
    color: #8a8989; }
  .cuerpo .informacion .horarios, .cuerpo .informacion .pet-friendly {
    border-style: solid;
    border-width: 5px;
    border-color: #84b6f4;
    background-color: white;
    text-align: center;
    width: 200px;
    height: 320px;
    margin: auto; }
    .cuerpo .informacion .horarios h2, .cuerpo .informacion .pet-friendly h2 {
      border-style: solid;
      border-width: 5px;
      border-color: #84b6f4;
      color: white;
      font-size: 20px;
      text-align: center;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      background-color: aqua;
      font-family: 'Pacifico', cursive; }
    .cuerpo .informacion .horarios p, .cuerpo .informacion .pet-friendly p {
      font-size: 15px;
      padding-top: 10px; }
    .cuerpo .informacion .horarios ul, .cuerpo .informacion .pet-friendly ul {
      list-style-type: none;
      padding-top: 20px; }
      .cuerpo .informacion .horarios ul li, .cuerpo .informacion .pet-friendly ul li {
        font-size: 15px; }
    .cuerpo .informacion .horarios .dias-lunes, .cuerpo .informacion .pet-friendly .dias-lunes {
      font-size: 10px;
      margin-bottom: 10px; }
    .cuerpo .informacion .horarios .publicidad-ig, .cuerpo .informacion .pet-friendly .publicidad-ig {
      background-color: #84b6f4;
      height: 20px;
      font-size: 15px; }
  .cuerpo .informacion .pet-friendly {
    margin-top: 50px;
    height: 100px;
    font-family: 'Pacifico', cursive; }
    .cuerpo .informacion .pet-friendly h2 {
      border-style: solid;
      border-width: 5px;
      border-color: #84b6f4;
      color: white;
      font-size: 20px;
      text-align: center;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      background-color: aqua;
      font-family: 'Pacifico', cursive; }
    .cuerpo .informacion .pet-friendly p {
      font-size: 15px;
      padding-top: 10px; }

.cuerpo .redes-sociales {
  height: 1340px;
  background-color: #00b7ff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  display: flex;
  flex-direction: column; }
  .cuerpo .redes-sociales h2 {
    text-align: center;
    background-color: #fbfbfb;
    padding: 20px; }
  .cuerpo .redes-sociales .red h3 {
    text-align: center;
    background-color: #fbfbfb;
    margin: auto;
    width: 200px;
    padding: 20px;
    margin-top: 15px; }
  .cuerpo .redes-sociales .red p {
    text-align: center;
    color: #fdcae1;
    padding-top: 30px;
    font-size: 15px;
    font-weight: bold; }
  .cuerpo .redes-sociales .red img {
    height: 400px;
    width: 300px; }
  .cuerpo .redes-sociales .red a {
    width: 200px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px; }

.encabezado .logo-nav img {
  width: 50px;
  height: 50px;
  position: relative; }

.encabezado .nav-link {
  font-size: 20px; }

/* estilo del footer */
.footer {
  background-color: #fffec2;
  display: block; }
  .footer .derechos-reservados {
    font-family: 'Abril Fatface', cursive;
    color: #140202;
    text-align: center;
    font-size: 10px; }

/* inicio estilo atencion al cliente */
.sugerencia {
  background-color: bisque;
  margin: auto;
  height: 550px; }
  .sugerencia .titulo-sugerencia {
    padding-top: 50px;
    font-family: 'Abril Fatface', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: #0a0a0a;
    text-align: center; }
    .sugerencia .titulo-sugerencia h1 {
      font-size: 20px;
      font-weight: bold; }
    .sugerencia .titulo-sugerencia p {
      margin-top: 10px;
      font-size: 20px; }
  .sugerencia .foto-fondo p {
    display: none; }

/* inicio estilo ubicacion */
.contenido-ubicacion {
  background-color: blanchedalmond; }
  .contenido-ubicacion .ubicacion {
    text-align: center;
    background-color: blanchedalmond;
    margin: auto; }
    .contenido-ubicacion .ubicacion .ubicacion-titulo {
      padding-top: 20px;
      font-size: 20px;
      font-family: 'Abril Fatface', cursive;
      margin: 0; }
    .contenido-ubicacion .ubicacion .ubicacion-h3 {
      font-size: 15px; }
    .contenido-ubicacion .ubicacion .ubicacion-informacion {
      font-size: 15px;
      font-family: 'Pacifico', cursive;
      text-align: center;
      background-color: #ecc30f;
      width: 100%; }
      .contenido-ubicacion .ubicacion .ubicacion-informacion .ubicacion-lista {
        list-style-type: none; }
      .contenido-ubicacion .ubicacion .ubicacion-informacion li iframe {
        height: 400px;
        width: 300px;
        padding-right: 70px; }

/* inicio estilo productos */
.encabezado-productos .navbar {
  background-color: #fdcae1; }
  .encabezado-productos .navbar .logo-nav img {
    width: 50px;
    height: 50px;
    position: relative; }
  .encabezado-productos .navbar .nav-link {
    font-size: 20px; }

.producto {
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='90' height='90' viewBox='0 0 90 90'%3E%3Ccircle fill='%23FDCAE1' cx='45' cy='45' r='10'/%3E%3Cg fill='%23FDCAE1' fill-opacity='1'%3E%3Ccircle cx='0' cy='90' r='10'/%3E%3Ccircle cx='90' cy='90' r='10'/%3E%3Ccircle cx='90' cy='0' r='10'/%3E%3Ccircle cx='0' cy='0' r='10'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed; }
  .producto .producto-estrella {
    background-color: #fffec2;
    list-style-type: none;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Animaciones */
    animation-name: fade-in;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-delay: .5s; }

@keyframes fade-in {
  0% {
    transform: translateX(800px); }
  50% {
    transform: rotateY(200deg); }
  100% {
    transform: translateX(0px); } }
    .producto .producto-estrella .producto-estrella-parrafo {
      display: flex;
      flex-direction: column; }
      .producto .producto-estrella .producto-estrella-parrafo h2 {
        font-size: 20px;
        font-family: 'Abril Fatface', cursive;
        color: #fdcae1;
        text-align: center; }
      .producto .producto-estrella .producto-estrella-parrafo h3 {
        font-size: 15px;
        font-family: 'Pacifico', cursive;
        background-color: #fdcae1;
        text-align: center; }
      .producto .producto-estrella .producto-estrella-parrafo p {
        max-width: 600px;
        font-size: 10px;
        font-family: 'Pacifico', cursive; }
    .producto .producto-estrella img {
      width: 250px;
      height: 200px;
      margin: 20px 20px; }
  .producto .contenedor-titulo-otros-productos {
    height: 100px;
    display: flex;
    justify-items: center; }
    .producto .contenedor-titulo-otros-productos .titulo-otros-productos {
      width: 500px;
      margin: auto;
      text-align: center;
      font-size: 20px;
      font-family: 'Abril Fatface', cursive;
      color: #84b6f4;
      background-color: #fdcae1; }
  .producto .otros {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    grid-row-gap: 0;
    border-width: 15px; }
    .producto .otros .otros-productos {
      background-color: aliceblue;
      margin: 30px;
      width: 250px;
      text-align: center;
      height: 250px;
      display: flex;
      flex-direction: column;
      /* Transiciones */
      transition-property: all;
      transition-duration: 1s;
      transition-delay: .5s;
      transition-timing-function: ease; }
      .producto .otros .otros-productos:hover {
        transform: scale(1.2, 1.2); }
      .producto .otros .otros-productos h2 {
        font-family: 'Pacifico', cursive;
        background-color: #fdcae1;
        font-size: 10px;
        height: 20px;
        line-height: 20px;
        margin-top: 10px; }
      .producto .otros .otros-productos img {
        width: 200px;
        height: 200px;
        align-self: center; }
  .producto .contenedor-titulo-bebidas {
    height: 40px;
    padding-top: 30px;
    display: flex;
    justify-items: center; }
    .producto .contenedor-titulo-bebidas .titulo-bebidas {
      width: 500px;
      margin: auto;
      text-align: center;
      font-size: 20px;
      font-family: 'Abril Fatface', cursive;
      color: #84b6f4;
      background-color: #fdcae1; }
  .producto .bebidas {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    grid-row-gap: 0;
    border-width: 15px; }
    .producto .bebidas .bebidas-productos {
      background-color: aliceblue;
      margin: 30px;
      width: 250px;
      text-align: center;
      height: 250px;
      display: flex;
      flex-direction: column;
      /* Transiciones */
      transition-property: all;
      transition-duration: 1s;
      transition-delay: .5s;
      transition-timing-function: ease; }
      .producto .bebidas .bebidas-productos:hover {
        transform: scale(1.2, 1.2); }
      .producto .bebidas .bebidas-productos h2 {
        font-family: 'Pacifico', cursive;
        background-color: #fdcae1;
        font-size: 10px;
        height: 20px;
        line-height: 20px;
        margin-top: 10px; }
      .producto .bebidas .bebidas-productos img {
        width: 200px;
        height: 200px;
        align-self: center; }

/* inicio de la configuracion media para 768px */
@media screen and (min-width: 768px) {
  /* inicio del encabezado del index*/
  .cuerpo .informacion {
    background-image: url(../public/mostrador.jpg);
    background-size: cover;
    background-position: center;
    height: 1000px;
    display: grid;
    grid-template-areas: "titulo titulo" "horarios pet"; }
    .cuerpo .informacion .encabezado-titulo {
      text-align: center;
      font-family: 'Abril Fatface', cursive;
      padding-top: 200px;
      grid-area: titulo; }
      .cuerpo .informacion .encabezado-titulo h1 {
        margin-bottom: 5px;
        font-size: 40px;
        color: #f5e508; }
      .cuerpo .informacion .encabezado-titulo h3 {
        text-align: center;
        font-size: 30px;
        color: #ff6961; }
      .cuerpo .informacion .encabezado-titulo p {
        font-family: 'Pacifico', cursive;
        font-size: 20px;
        color: #f5e508;
        padding-bottom: 20px; }
    .cuerpo .informacion .horarios, .cuerpo .informacion .pet-friendly {
      grid-area: horarios;
      margin-top: 100px; }
    .cuerpo .informacion .pet-friendly {
      grid-area: pet;
      margin-top: 200px; }
  .cuerpo .redes-sociales {
    height: 1750px;
    background-color: #00b7ff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    display: flex;
    flex-direction: column; }
    .cuerpo .redes-sociales h2 {
      text-align: center;
      background-color: #fbfbfb;
      padding: 20px; }
    .cuerpo .redes-sociales .red h3 {
      text-align: center;
      background-color: #fbfbfb;
      margin: auto;
      width: 200px;
      padding: 20px;
      margin-top: 15px; }
    .cuerpo .redes-sociales .red p {
      text-align: center;
      color: #fdcae1;
      padding-top: 30px;
      font-size: 20px; }
    .cuerpo .redes-sociales .red img {
      height: 600px;
      width: 500px; }
    .cuerpo .redes-sociales .red a {
      width: 200px;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px; }
  /* inicio  seccion atencion al cliente */
  .contenido-atencion {
    background-color: bisque; }
    .contenido-atencion .sugerencia {
      background-color: bisque;
      width: 700px;
      height: 750px;
      margin: auto; }
      .contenido-atencion .sugerencia .titulo-sugerencia {
        padding-left: 35px;
        margin-top: 0px;
        margin-bottom: 25px;
        font-family: 'Abril Fatface', cursive;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        color: #0a0a0a; }
        .contenido-atencion .sugerencia .titulo-sugerencia h1 {
          font-size: 30px;
          font-weight: bold; }
  /* inicio seccion ubicacion */
  .contenido-ubicacion {
    background-image: url(../public/atencion-cliente-fondo.jpg);
    background-size: contain;
    display: grid;
    grid-template-areas: "titulo " "subtitulo " "calle " "mapa "; }
    .contenido-ubicacion .ubicacion {
      text-align: center;
      background-color: blanchedalmond;
      width: 500px;
      height: 600px;
      margin: auto; }
      .contenido-ubicacion .ubicacion .ubicacion-titulo {
        grid-area: titulo;
        padding-top: 20px;
        font-size: 30px;
        font-family: 'Abril Fatface', cursive;
        margin: 0; }
      .contenido-ubicacion .ubicacion h3 {
        grid-area: subtitulo; }
      .contenido-ubicacion .ubicacion .ubicacion-informacion {
        font-size: 15px;
        font-family: 'Pacifico', cursive;
        text-align: center;
        margin: 0 auto;
        background-color: #ecc30f; }
        .contenido-ubicacion .ubicacion .ubicacion-informacion p {
          grid-area: calle; }
        .contenido-ubicacion .ubicacion .ubicacion-informacion .ubicacion-lista {
          list-style-type: none;
          grid-area: mapa; }
          .contenido-ubicacion .ubicacion .ubicacion-informacion .ubicacion-lista li iframe {
            height: 400px;
            width: 400px;
            padding-right: 30px; }
  /* inicio seccion productos */
  .producto {
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='90' height='90' viewBox='0 0 90 90'%3E%3Ccircle fill='%23FDCAE1' cx='45' cy='45' r='10'/%3E%3Cg fill='%23FDCAE1' fill-opacity='1'%3E%3Ccircle cx='0' cy='90' r='10'/%3E%3Ccircle cx='90' cy='90' r='10'/%3E%3Ccircle cx='90' cy='0' r='10'/%3E%3Ccircle cx='0' cy='0' r='10'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed; }
    .producto .producto-estrella {
      list-style-type: none;
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; }
      .producto .producto-estrella .producto-estrella-parrafo {
        display: flex;
        flex-direction: column; }
        .producto .producto-estrella .producto-estrella-parrafo h2 {
          font-size: 25px;
          font-family: 'Abril Fatface', cursive;
          color: #fdcae1;
          text-align: center; }
        .producto .producto-estrella .producto-estrella-parrafo h3 {
          font-size: 20px;
          font-family: 'Pacifico', cursive;
          background-color: #fdcae1;
          text-align: center; }
        .producto .producto-estrella .producto-estrella-parrafo p {
          max-width: 600px;
          font-size: 15px;
          font-family: 'Pacifico', cursive; }
      .producto .producto-estrella img {
        width: 300px;
        height: 300px;
        margin: 20px 20px; }
    .producto .contenedor-titulo-otros-productos {
      height: 100px;
      display: flex;
      justify-items: center; }
      .producto .contenedor-titulo-otros-productos .titulo-otros-productos {
        width: 500px;
        margin: auto;
        text-align: center;
        font-size: 20px;
        font-family: 'Abril Fatface', cursive;
        color: #84b6f4;
        background-color: #fdcae1; }
    .producto .otros {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: center;
      align-items: center;
      grid-row-gap: 0;
      border-width: 15px; }
      .producto .otros .otros-productos {
        background-color: aliceblue;
        margin: 30px;
        width: 250px;
        text-align: center;
        height: 250px;
        display: flex;
        flex-direction: column; }
        .producto .otros .otros-productos .otros-productos h2 {
          font-family: 'Pacifico', cursive;
          background-color: #fdcae1;
          font-size: 10px; }
        .producto .otros .otros-productos .otros-productos img {
          width: 200px;
          height: 200px;
          align-self: center; }
    .producto .contenedor-titulo-bebidas {
      height: 40px;
      padding-top: 30px;
      display: flex;
      justify-items: center; }
      .producto .contenedor-titulo-bebidas .titulo-bebidas {
        width: 500px;
        margin: auto;
        text-align: center;
        font-size: 20px;
        font-family: 'Abril Fatface', cursive;
        color: #84b6f4;
        background-color: #fdcae1; }
    .producto .bebidas {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: center;
      align-items: center;
      grid-row-gap: 0;
      border-width: 15px; }
      .producto .bebidas .bebidas-productos {
        background-color: aliceblue;
        margin: 30px;
        width: 250px;
        text-align: center;
        height: 250px;
        display: flex;
        flex-direction: column; }
        .producto .bebidas .bebidas-productos h2 {
          font-family: 'Pacifico', cursive;
          background-color: #fdcae1;
          font-size: 10px; }
        .producto .bebidas .bebidas-productos img {
          width: 200px;
          height: 200px;
          align-self: center; } }

/* inicio resolucion 1024px para solucionar un problema en la imagen de fondo de la pagina ubicacion */
@media screen and (min-width: 1024px) {
  /* Ubicacion */
  .contenido-ubicacion {
    background-image: url(../public/atencion-cliente-fondo.jpg);
    background-size: contain;
    background-repeat: space; } }

/* inicio configuracion media para 1280px */
@media screen and (min-width: 1280px) {
  /* nav del index */
  .encabezado-index .navbar .logo-nav img {
    width: 70px;
    height: 70px;
    position: relative; }
  .encabezado .navbar .logo-nav img {
    width: 70px;
    height: 70px;
    position: relative; }
  .encabezado-productos .navbar .logo-nav img {
    width: 70px;
    height: 70px;
    position: relative; }
  /* inicio del encabezado del index*/
  .cuerpo .informacion {
    background-image: url(../public/mostrador.jpg);
    background-size: cover;
    background-position: center;
    height: 1000px;
    display: grid;
    grid-template-areas: "titulo horarios" "titulo pet"; }
    .cuerpo .informacion .encabezado-titulo {
      text-align: center;
      font-family: 'Abril Fatface', cursive;
      margin-top: 200px;
      margin-left: 100px; }
      .cuerpo .informacion .encabezado-titulo h1 {
        margin-bottom: 5px;
        font-size: 50px;
        color: #f5e508; }
      .cuerpo .informacion .encabezado-titulo h3 {
        text-align: center;
        font-size: 40px;
        color: #ff6961; }
      .cuerpo .informacion .encabezado-titulo p {
        font-family: 'Pacifico', cursive;
        font-size: 30px;
        color: #f5e508;
        padding-bottom: 20px; }
    .cuerpo .informacion .horarios, .cuerpo .informacion .pet-friendly {
      grid-area: horarios;
      border-style: solid;
      border-width: 5px;
      border-color: #84b6f4;
      width: 350px;
      background-color: white;
      text-align: center;
      height: 400px;
      margin-top: 200px; }
      .cuerpo .informacion .horarios h2, .cuerpo .informacion .pet-friendly h2 {
        border-style: solid;
        border-width: 5px;
        border-color: #84b6f4;
        color: white;
        font-size: 30px;
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: aqua;
        font-family: 'Pacifico', cursive; }
      .cuerpo .informacion .horarios p, .cuerpo .informacion .pet-friendly p {
        font-size: 20px;
        padding-top: 10px; }
      .cuerpo .informacion .horarios ul, .cuerpo .informacion .pet-friendly ul {
        list-style-type: none;
        padding-top: 20px; }
        .cuerpo .informacion .horarios ul li, .cuerpo .informacion .pet-friendly ul li {
          font-size: 20px; }
      .cuerpo .informacion .horarios .dias-lunes, .cuerpo .informacion .pet-friendly .dias-lunes {
        font-size: 15px; }
      .cuerpo .informacion .horarios .publicidad-ig, .cuerpo .informacion .pet-friendly .publicidad-ig {
        background-color: #84b6f4;
        height: 50px;
        padding-top: 15px; }
    .cuerpo .informacion .pet-friendly {
      grid-area: pet;
      border-style: solid;
      border-width: 5px;
      border-color: #84b6f4;
      width: 350px;
      background-color: white;
      text-align: center;
      margin-top: 100px;
      height: 130px;
      font-family: 'Pacifico', cursive; }
      .cuerpo .informacion .pet-friendly h2 {
        border-style: solid;
        border-width: 5px;
        border-color: #84b6f4;
        color: white;
        font-size: 30px;
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: aqua;
        font-family: 'Pacifico', cursive; }
      .cuerpo .informacion .pet-friendly p {
        font-size: 20px;
        padding-top: 10px; }
  .cuerpo .redes-sociales {
    height: 2000px;
    background-color: #00b7ff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    display: flex;
    flex-direction: column; }
    .cuerpo .redes-sociales h2 {
      text-align: center;
      background-color: #fbfbfb;
      padding: 20px; }
    .cuerpo .redes-sociales .red h3 {
      text-align: center;
      background-color: #fbfbfb;
      margin: auto;
      width: 400px;
      padding: 20px;
      margin-top: 15px; }
    .cuerpo .redes-sociales .red p {
      text-align: center;
      color: #fdcae1;
      padding-top: 30px;
      font-size: 25px; }
    .cuerpo .redes-sociales .red img {
      height: 700px;
      width: 600px; }
    .cuerpo .redes-sociales .red a {
      width: 300px;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px; }
  .cuerpo-horarios {
    border-style: solid;
    border-width: 10px;
    height: 800px;
    background-image: url(../public/fondo-horarios.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    .cuerpo-horarios .cuerpo-horario-tabla {
      font-size: 25px;
      text-align: center;
      margin: 0 auto;
      border-style: dashed;
      border-width: 10px;
      width: 380px;
      height: 780px;
      background-color: #ecc30f;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .cuerpo-horarios .cuerpo-horario-tabla h2 {
        padding-top: 80px;
        padding-bottom: 50px; }
      .cuerpo-horarios .cuerpo-horario-tabla ul {
        list-style-type: none; }
  /* inicio  seccion atencion al cliente */
  .contenido-atencion {
    background-image: url(../public/fondo-atencion-clientes.jpg);
    background-size: contain;
    background-repeat: round; }
    .contenido-atencion .sugerencia {
      background-color: bisque;
      width: 700px;
      height: 700px;
      margin: auto; }
      .contenido-atencion .sugerencia .titulo-sugerencia {
        padding-left: 35px;
        padding-right: 35px;
        margin-top: 0px;
        margin-bottom: 25px;
        font-family: 'Abril Fatface', cursive;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        color: #0a0a0a; }
        .contenido-atencion .sugerencia .titulo-sugerencia h1 {
          font-size: 35px;
          font-weight: bold; }
      .contenido-atencion .sugerencia .foto-fondo p {
        display: block;
        font-size: 10px;
        text-align: center;
        margin-top: 50px; }
  /* inicio seccion ubicacion */
  .contenido-ubicacion {
    background-image: url(../public/atencion-cliente-fondo.jpg);
    background-size: contain;
    background-repeat: space;
    display: grid;
    grid-template-areas: "titulo " "subtitulo " "calle " "mapa "; }
    .contenido-ubicacion .ubicacion {
      text-align: center;
      background-color: blanchedalmond;
      width: 650px;
      height: 600px;
      margin: auto; }
      .contenido-ubicacion .ubicacion .ubicacion-titulo {
        grid-area: titulo;
        padding-top: 20px;
        font-size: 30px;
        font-family: 'Abril Fatface', cursive;
        margin: 0; }
      .contenido-ubicacion .ubicacion h3 {
        grid-area: subtitulo; }
      .contenido-ubicacion .ubicacion .ubicacion-informacion {
        font-size: 15px;
        font-family: 'Pacifico', cursive;
        text-align: center;
        margin: 0 auto;
        background-color: #ecc30f; }
        .contenido-ubicacion .ubicacion .ubicacion-informacion p {
          grid-area: calle; }
        .contenido-ubicacion .ubicacion .ubicacion-informacion .ubicacion-lista {
          list-style-type: none;
          grid-area: mapa; }
          .contenido-ubicacion .ubicacion .ubicacion-informacion .ubicacion-lista li iframe {
            height: 400px;
            width: 550px;
            padding-right: 30px; }
  /* inicio seccion productos */
  .producto {
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='90' height='90' viewBox='0 0 90 90'%3E%3Ccircle fill='%23FDCAE1' cx='45' cy='45' r='10'/%3E%3Cg fill='%23FDCAE1' fill-opacity='1'%3E%3Ccircle cx='0' cy='90' r='10'/%3E%3Ccircle cx='90' cy='90' r='10'/%3E%3Ccircle cx='90' cy='0' r='10'/%3E%3Ccircle cx='0' cy='0' r='10'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed; }
    .producto .producto-estrella {
      width: 1000px;
      list-style-type: none;
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      margin: auto; }
      .producto .producto-estrella .producto-estrella-parrafo {
        display: flex;
        flex-direction: column; }
        .producto .producto-estrella .producto-estrella-parrafo h2 {
          font-size: 30px;
          font-family: 'Abril Fatface', cursive;
          color: #fdcae1;
          text-align: center; }
        .producto .producto-estrella .producto-estrella-parrafo h3 {
          font-size: 25px;
          font-family: 'Pacifico', cursive;
          background-color: #fdcae1;
          text-align: center;
          color: #fffec2; }
        .producto .producto-estrella .producto-estrella-parrafo p {
          max-width: 600px;
          font-size: 20px;
          font-family: 'Pacifico', cursive; }
      .producto .producto-estrella img {
        width: 400px;
        height: 400px;
        margin: 20px 20px; }
    .producto .contenedor-titulo-otros-productos {
      height: 100px;
      display: flex;
      justify-items: center; }
      .producto .contenedor-titulo-otros-productos .titulo-otros-productos {
        width: 500px;
        margin: auto;
        text-align: center;
        font-size: 30px;
        font-family: 'Abril Fatface', cursive;
        color: #84b6f4;
        background-color: #fdcae1; }
    .producto .otros {
      display: grid;
      grid-template-columns: auto auto auto;
      justify-content: center;
      align-items: center;
      grid-row-gap: 0;
      border-width: 15px; }
      .producto .otros .otros-productos {
        background-color: aliceblue;
        margin: 30px;
        width: 300px;
        text-align: center;
        height: 330px;
        display: flex;
        flex-direction: column; }
        .producto .otros .otros-productos h2 {
          font-family: 'Pacifico', cursive;
          background-color: #fdcae1;
          font-size: 20px;
          height: 30px;
          line-height: 30px; }
        .producto .otros .otros-productos img {
          width: 250px;
          height: 250px;
          align-self: center; }
    .producto .contenedor-titulo-bebidas {
      height: 40px;
      padding-top: 30px;
      display: flex;
      justify-items: center; }
      .producto .contenedor-titulo-bebidas .titulo-bebidas {
        width: 500px;
        margin: auto;
        text-align: center;
        font-size: 30px;
        font-family: 'Abril Fatface', cursive;
        color: #84b6f4;
        background-color: #fdcae1; }
    .producto .bebidas {
      display: grid;
      grid-template-columns: auto auto auto;
      justify-content: center;
      align-items: center;
      grid-row-gap: 0;
      border-width: 15px; }
      .producto .bebidas .bebidas-productos {
        background-color: aliceblue;
        margin: 30px;
        width: 300px;
        text-align: center;
        height: 330px;
        display: flex;
        flex-direction: column; }
        .producto .bebidas .bebidas-productos h2 {
          font-family: 'Pacifico', cursive;
          background-color: #fdcae1;
          font-size: 20px;
          height: 30px;
          line-height: 30px; }
        .producto .bebidas .bebidas-productos img {
          width: 250px;
          height: 250px;
          align-self: center; } }

/* inicio de la configuracion media para 1900px */
@media screen and (min-width: 1900px) {
  /* inicio del index.html */
  .encabezado-index .navbar {
    background-color: #84b6f4; }
    .encabezado-index .navbar .logo-nav img {
      width: 70px;
      height: 70px;
      position: relative; }
  .cuerpo .informacion {
    background-image: url(../public/mostrador.jpg);
    background-size: cover;
    height: 1400px;
    display: grid;
    grid-template-areas: "titulo horarios" "titulo pet"; }
    .cuerpo .informacion .encabezado-titulo {
      grid-area: titulo;
      font-family: 'Abril Fatface', cursive;
      margin-top: 0;
      margin-left: 100px;
      width: 1500px; }
      .cuerpo .informacion .encabezado-titulo h1 {
        margin-bottom: 5px;
        padding-top: 300px;
        font-size: 100px;
        color: #f5e508; }
      .cuerpo .informacion .encabezado-titulo h3 {
        padding-bottom: 5px;
        padding-left: 0px;
        margin-bottom: 5px;
        font-size: 70px;
        color: #ff6961; }
      .cuerpo .informacion .encabezado-titulo p {
        font-family: 'Pacifico', cursive;
        font-size: 50px;
        color: #f5e508;
        padding-left: 70px; }
    .cuerpo .informacion .horarios, .cuerpo .informacion .pet-friendly {
      grid-area: horarios;
      border-style: solid;
      border-width: 5px;
      border-color: #84b6f4;
      width: 400px;
      background-color: white;
      text-align: center;
      height: 500px;
      margin-top: 300px;
      margin-right: 200px; }
      .cuerpo .informacion .horarios h2, .cuerpo .informacion .pet-friendly h2 {
        border-style: solid;
        border-width: 5px;
        border-color: #84b6f4;
        color: white;
        font-size: 40px;
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: aqua;
        font-family: 'Pacifico', cursive; }
      .cuerpo .informacion .horarios p, .cuerpo .informacion .pet-friendly p {
        font-size: 30px;
        padding-top: 10px; }
      .cuerpo .informacion .horarios ul, .cuerpo .informacion .pet-friendly ul {
        list-style-type: none;
        padding-top: 20px; }
        .cuerpo .informacion .horarios ul li, .cuerpo .informacion .pet-friendly ul li {
          font-size: 30px; }
      .cuerpo .informacion .horarios .dias-lunes, .cuerpo .informacion .pet-friendly .dias-lunes {
        font-size: 20px; }
      .cuerpo .informacion .horarios .publicidad-ig, .cuerpo .informacion .pet-friendly .publicidad-ig {
        background-color: #84b6f4;
        height: 70px;
        padding-top: 15px;
        font-size: 25px; }
    .cuerpo .informacion .pet-friendly {
      grid-area: pet;
      border-style: solid;
      border-width: 5px;
      border-color: #84b6f4;
      width: 400px;
      background-color: white;
      text-align: center;
      margin-right: 200px;
      margin-top: 50px;
      height: 150px;
      font-family: 'Pacifico', cursive; }
      .cuerpo .informacion .pet-friendly h2 {
        border-style: solid;
        border-width: 5px;
        border-color: #84b6f4;
        color: white;
        font-size: 40px;
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: aqua;
        font-family: 'Pacifico', cursive; }
      .cuerpo .informacion .pet-friendly p {
        font-size: 30px;
        padding-top: 10px; }
  .cuerpo .redes-sociales {
    height: 2000px;
    background-color: #00b7ff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    display: flex;
    flex-direction: column; }
    .cuerpo .redes-sociales h2 {
      text-align: center;
      background-color: #fbfbfb;
      padding: 20px; }
    .cuerpo .redes-sociales .red h3 {
      text-align: center;
      background-color: #fbfbfb;
      margin: auto;
      width: 500px;
      padding: 20px;
      margin-top: 15px; }
    .cuerpo .redes-sociales .red p {
      text-align: center;
      color: #fdcae1;
      padding-top: 30px;
      font-size: 30px; }
    .cuerpo .redes-sociales .red img {
      padding-bottom: 40px; }
    .cuerpo .redes-sociales .red a {
      width: 300px;
      margin: auto; }
  /* estilo del footer */
  .footer {
    background-color: #fffec2; }
    .footer .derechos-reservados {
      font-family: 'Abril Fatface', cursive;
      color: #140202;
      text-align: center;
      font-size: 10px; }
  /* inicio  seccion atencion al cliente */
  .contenido-atencion {
    background-image: url(../public/fondo-atencion-clientes.jpg);
    background-repeat: space;
    background-size: contain; }
    .contenido-atencion .sugerencia {
      background-color: bisque;
      width: 1090px;
      height: 1000px;
      margin: auto; }
      .contenido-atencion .sugerencia .titulo-sugerencia {
        padding-left: 35px;
        padding-bottom: 100px;
        padding-top: 90px;
        margin-top: 0px;
        margin-bottom: 25px;
        font-family: 'Abril Fatface', cursive;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        color: #0a0a0a; }
        .contenido-atencion .sugerencia .titulo-sugerencia h1 {
          font-size: 40px;
          font-weight: bold; }
        .contenido-atencion .sugerencia .titulo-sugerencia p {
          margin-top: 60px;
          font-size: 40px; }
      .contenido-atencion .sugerencia .formulario2 {
        width: 700px;
        margin: auto; }
      .contenido-atencion .sugerencia .foto-fondo p {
        font-size: 10px;
        text-align: center;
        margin-top: 100px; }
  /* inicio seccion ubicacion */
  .contenido-ubicacion {
    background-image: url(../public/atencion-cliente-fondo.jpg);
    background-repeat: space;
    background-size: contain;
    display: flex; }
    .contenido-ubicacion .ubicacion {
      text-align: center;
      background-color: blanchedalmond;
      width: 1500px;
      margin: auto;
      height: 1000px; }
      .contenido-ubicacion .ubicacion .ubicacion-titulo {
        padding-top: 50px;
        font-size: 50px;
        font-family: 'Abril Fatface', cursive;
        margin: 0; }
      .contenido-ubicacion .ubicacion .ubicacion-h3 {
        font-size: 40px; }
      .contenido-ubicacion .ubicacion .ubicacion-informacion {
        font-size: 30px;
        font-family: 'Pacifico', cursive;
        text-align: center;
        margin: 0 auto;
        width: 1500px;
        background-color: #ecc30f;
        display: flex;
        align-items: center;
        justify-content: center; }
        .contenido-ubicacion .ubicacion .ubicacion-informacion .ubicacion-lista {
          list-style-type: none; }
          .contenido-ubicacion .ubicacion .ubicacion-informacion .ubicacion-lista li iframe {
            height: 600px;
            width: 1000px;
            padding-right: 30px; }
  /* inicio seccion productos */
  .producto {
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='90' height='90' viewBox='0 0 90 90'%3E%3Ccircle fill='%23FDCAE1' cx='45' cy='45' r='10'/%3E%3Cg fill='%23FDCAE1' fill-opacity='1'%3E%3Ccircle cx='0' cy='90' r='10'/%3E%3Ccircle cx='90' cy='90' r='10'/%3E%3Ccircle cx='90' cy='0' r='10'/%3E%3Ccircle cx='0' cy='0' r='10'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed; }
    .producto .producto-estrella {
      width: 1500px;
      margin: auto;
      list-style-type: none;
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; }
      .producto .producto-estrella .producto-estrella-parrafo {
        display: flex;
        flex-direction: column; }
        .producto .producto-estrella .producto-estrella-parrafo h2 {
          font-size: 50px;
          font-family: 'Abril Fatface', cursive;
          color: #fdcae1; }
        .producto .producto-estrella .producto-estrella-parrafo h3 {
          font-size: 40px;
          font-family: 'Pacifico', cursive;
          background-color: #fdcae1;
          text-align: center;
          color: #fffec2; }
        .producto .producto-estrella .producto-estrella-parrafo p {
          max-width: 600px;
          font-size: 30px;
          font-family: 'Pacifico', cursive; }
      .producto .producto-estrella img {
        width: 650px;
        height: 650px;
        margin: 50px 50px; }
    .producto .contenedor-titulo-otros-productos {
      height: 200px;
      display: flex;
      justify-items: center; }
      .producto .contenedor-titulo-otros-productos .titulo-otros-productos {
        width: 500px;
        margin: auto;
        text-align: center;
        font-size: 40px;
        font-family: 'Abril Fatface', cursive;
        color: #84b6f4;
        background-color: #fdcae1; }
    .producto .otros {
      display: grid;
      grid-template-columns: auto auto auto;
      justify-content: center;
      align-items: center;
      grid-row-gap: 25px;
      border-width: 15px; }
      .producto .otros .otros-productos {
        background-color: aliceblue;
        margin: 30px;
        width: 600px;
        text-align: center;
        height: 550px;
        display: flex;
        flex-direction: column; }
        .producto .otros .otros-productos h2 {
          font-family: 'Pacifico', cursive;
          background-color: #fdcae1;
          font-size: 30px;
          height: 60px;
          line-height: 60px;
          margin-bottom: 30px;
          margin-top: 20px; }
        .producto .otros .otros-productos img {
          width: 500px;
          height: 400px;
          align-self: center; }
    .producto .contenedor-titulo-bebidas {
      height: 200px;
      display: flex;
      justify-items: center; }
      .producto .contenedor-titulo-bebidas .titulo-bebidas {
        width: 500px;
        margin: auto;
        text-align: center;
        font-size: 40px;
        font-family: 'Abril Fatface', cursive;
        color: #84b6f4;
        background-color: #fdcae1; }
    .producto .bebidas {
      display: grid;
      grid-template-columns: auto auto auto;
      justify-content: center;
      align-items: center;
      grid-row-gap: 25px;
      border-width: 15px; }
      .producto .bebidas .bebidas-productos {
        background-color: aliceblue;
        margin: 30px;
        width: 600px;
        text-align: center;
        height: 550px;
        display: flex;
        flex-direction: column; }
        .producto .bebidas .bebidas-productos h2 {
          font-family: 'Pacifico', cursive;
          background-color: #fdcae1;
          font-size: 30px;
          height: 60px;
          line-height: 60px;
          margin-bottom: 30px;
          margin-top: 20px; }
        .producto .bebidas .bebidas-productos img {
          width: 500px;
          height: 400px;
          align-self: center; } }
