/* inicio de la configuracion media para 1900px */

@media screen and (min-width:1900px) {

    /* inicio del index.html */

    .encabezado-index {

        .navbar {
            background-color: $color-rosa;

            .logo-nav img {
                width: 70px;
                height: 70px;
                position: relative;
            }
        }
        
        
        
    }

    .cuerpo {
        

        .informacion {
            background-image:url(../public/mostrador.jpg);
            background-size: cover;
            height: 1400px;
            display: grid;
            grid-template-areas:
            "titulo horarios"
            "titulo pet"
            ;

            .encabezado-titulo{

                grid-area: titulo;
                font-family: 'Abril Fatface', cursive;
                margin-top: 0;
                margin-left: 100px;
                width: 1500px;

                h1 {
                
                    margin-bottom: 5px;
                    padding-top: 300px;
                    
                    font-size: 100px;
                    color: rgb(245, 229, 8);
                }

                h3 {
                    padding-bottom: 5px;
                    padding-left: 0px;
                    margin-bottom: 5px;
                    font-size: 70px;
                    color: $color-subtitle;
                }

                p {
                    font-family: 'Pacifico', cursive;
                    font-size: 50px;
                    color: rgb(245, 229, 8);
                    padding-left: 70px;
                }
    
            }
            
            .horarios {
                grid-area:horarios;

                border-style: solid;
                border-width: 5px;
                border-color: #84b6f4;
                width: 400px;
                background-color: rgb(255, 255, 255);
                text-align: center;
                height: 500px;
                margin-top: 300px;
                margin-right: 200px;
                
                h2 {
                    border-style: solid;
                    border-width: 5px;
                    border-color: #84b6f4;
                    color: rgb(255, 255, 255);
                    font-size: 40px;
                    text-align: center;
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    background-color:aqua;
                    font-family: 'Pacifico', cursive;
                
                }

                p {
                    font-size: 30px;
                    padding-top: 10px;
                }
                
                ul {
                    list-style-type: none;
                    padding-top: 20px;

                    li {
                        font-size: 30px;
                    }
                }

                .dias-lunes {
                    font-size: 20px;
                }

                .publicidad-ig {
                    background-color: #84b6f4;
                    height: 70px;
                    padding-top: 15px;
                    font-size: 25px;
                }          
            }

            .pet-friendly {
                grid-area: pet;

                border-style: solid;
                border-width: 5px;
                border-color: #84b6f4;
                width: 400px;
                background-color: rgb(255, 255, 255);
                text-align: center;
                margin-right: 200px;
                margin-top:50px;
                height: 150px;

                font-family: 'Pacifico', cursive;

                h2 {
                    border-style: solid;
                    border-width: 5px;
                    border-color: #84b6f4;
                    color: rgb(255, 255, 255);
                    font-size: 40px;
                    text-align: center;
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    background-color:aqua;
                    font-family: 'Pacifico', cursive;
                }

                p {
                    font-size: 30px;
                    padding-top: 10px;
                }


            }
        }

        .redes-sociales {
            height: 2000px;
            background-color: #FFA0D4;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
            display: flex;
            flex-direction: column;
            

            h2{
                text-align: center;
                background-color: rgb(251, 251, 251);
                padding: 20px;
            }

            .red {
                
                h3 {
                    text-align: center;
                    background-color: rgb(251, 251, 251);
                    margin: auto;
                    width: 500px;
                    padding: 20px;
                    margin-top: 15px;
                }

                p {
                    text-align: center;
                    color: #c33b80
                    ;
                    padding-top: 30px;
                    font-size: 30px;
                    
                }

                img {
                    padding-bottom: 40px;
                }

                a {
                    width: 300px;
                    margin: auto;
                }
            }
        }
    }

    /* estilo del footer */

.footer {
    background-color:#fffec2 ;

    .derechos-reservados {
        font-family: 'Abril Fatface', cursive;  
        color: rgb(20, 2, 2);
        text-align: center;
        font-size: 10px;
    }
}
/* inicio  seccion atencion al cliente */

.contenido-atencion {
    background-image: url(../public/fondo-atencion-clientes.jpg);
    
    background-repeat:space;
    background-size: contain;

    .sugerencia {
        background-color: $background-sugerencia;
        width: 1090px;
        height: 1000px;
        margin: auto;

        .titulo-sugerencia {
            padding-left: 35px;
            padding-bottom: 100px;
            padding-top: 90px;
            margin-top: 0px;
            margin-bottom: 25px;
            font-family: 'Abril Fatface', cursive; 
        
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        
            font-size: 25px;
            color: rgb(10, 10, 10);

            h1{
                font-size: 40px;
                font-weight: bold;
            }

            p {
                margin-top: 60px;
                font-size: 40px;
            }
        }

        .formulario2 {
            width: 700px;
            margin: auto;
        }

        .foto-fondo {
            p {
                font-size: 10px;
                text-align: center;
                margin-top: 100px;
            }
        }
    }

    
}

/* inicio seccion ubicacion */

.contenido-ubicacion {
    background-image: url(../public/atencion-cliente-fondo.jpg);
    background-repeat: space;
    background-size: contain;
    display: flex;

    .ubicacion {
        text-align: center;
        background-color: blanchedalmond;
        width: 1500px;
        margin: auto;
        height: 1000px;

        .ubicacion-titulo {
            padding-top: 50px;
            font-size: 50px;
            font-family: 'Abril Fatface', cursive;  
            margin: 0; 
        }
        
        .ubicacion-h3 {
            font-size: 40px;
        }



        .ubicacion-informacion {
            font-size: 30px;
            font-family: 'Pacifico', cursive;
            text-align: center;
            margin:0 auto;
            width: 1500px;
            background-color: rgb(236, 195, 15);
        
            display:flex;
            align-items: center;
            justify-content: center;

            .ubicacion-lista {
                list-style-type: none;

                li iframe {
                    height: 600px;
                    width: 1000px;
                    padding-right: 30px;
                }
            }
        }
    }
}



/* inicio seccion productos */

.producto {
    
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='90' height='90' viewBox='0 0 90 90'%3E%3Ccircle fill='%23FDCAE1' cx='45' cy='45' r='10'/%3E%3Cg fill='%23FDCAE1' fill-opacity='1'%3E%3Ccircle cx='0' cy='90' r='10'/%3E%3Ccircle cx='90' cy='90' r='10'/%3E%3Ccircle cx='90' cy='0' r='10'/%3E%3Ccircle cx='0' cy='0' r='10'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    
    .producto-estrella  {

        
        width: 1500px;
        margin:auto;
        
        
        list-style-type: none;
        padding: 15px;
        display:flex ;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        
        .producto-estrella-parrafo {
            display: flex;
            flex-direction: column;

            h2 {
                font-size: 50px;
                font-family: 'Abril Fatface', cursive;  
                color: $color-rosa;
            }
            
            h3 {
                font-size: 40px;
                font-family: 'Pacifico', cursive;
                background-color: $color-rosa;
                text-align: center;
                color: #fffec2;
            }
            
            p {
                max-width: 600px;
                font-size: 30px;
                font-family: 'Pacifico', cursive;
            }
        }

        img {
            width: 650px;
            height: 650px;
            margin: 50px 50px;
        }
        
    }
    
    .contenedor-titulo-otros-productos {
        height: 200px;
    
        display: flex;
        justify-items: center;

        .titulo-otros-productos {
            width: 500px;
            margin: auto;
            text-align: center;
            font-size: 40px;
            font-family: 'Abril Fatface', cursive;  
            color: #84b6f4;
            background-color: $color-rosa;
        }
    }

    .otros {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        align-items: center;
        grid-row-gap: 25px;
        border-width: 15px;
        
        .otros-productos {
            background-color: aliceblue;
            margin: 30px;
            width: 600px;
            text-align: center;
            height: 550px;
        
            display: flex;
            flex-direction: column;

            h2 {
                font-family: 'Pacifico', cursive;
                background-color:$color-rosa ; 
                font-size: 30px;
                height: 60px;
                line-height: 60px;
                margin-bottom: 30px;
                margin-top: 20px;
            }

            img {
                width: 500px;
                height: 400px;
            
                align-self: center;
            }
        }
    }

    .contenedor-titulo-bebidas {
        height: 200px;
    
        display: flex;
        justify-items: center;

        .titulo-bebidas {
            width: 500px;
            margin: auto;
            text-align: center;
            font-size: 40px;
            font-family: 'Abril Fatface', cursive;  
            color: #84b6f4;
            background-color: $color-rosa;
        }
    }

    .bebidas {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        align-items: center;
        grid-row-gap: 25px;
        border-width: 15px;

        .bebidas-productos {
            background-color: aliceblue;
            margin: 30px;
            width: 600px;
            text-align: center;
            height: 550px;
        
            display: flex;
            flex-direction: column;

            h2 {
                font-family: 'Pacifico', cursive;
                background-color:$color-rosa ; 
                font-size: 30px;
                height: 60px;
                line-height: 60px;
                margin-bottom: 30px;
                margin-top: 20px;
            }

            img {
                width: 500px;
                height: 400px;
            
                align-self: center;
            }
        }
    }
}
}