
/* inicio del encabezado del index*/
.encabezado-index {
    background-image:url(public/mostrador.jpg);
    background-size: cover;
    height: 1400px;
}


.encabezado-navegacion-index  {
    
    padding: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.encabezado-navegacion-index img {

    width: 150px;
    height: 145px;
    position: relative;

}

.encabezado-navegacion-index ul li {
    display:inline-block;
    margin: 70px 50px;
}

.encabezado-navegacion-index ul li a {
    color: rgb(245, 229, 8) ;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    text-decoration: none;
}

.encabezado-titulo {
    text-align: center;
    font-family: 'Abril Fatface', cursive;    
}


.encabezado-titulo h1 {
    padding-top: 5px;
    margin-bottom: 5px;
    font-size: 190px;
    color: rgb(245, 229, 8);
}

.encabezado-titulo h3 {
    padding-bottom: 5px;
    padding-left: 900px;
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 100px;
    color: aliceblue;
}

.encabezado-titulo p {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: rgb(245, 229, 8);
}

/* navegacion de los otros html */

.encabezado-navegacion {
    padding: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;

    background-color: #ffcc00;

    height: 150px;
}


.encabezado-navegacion img {
    width: 150px;
    height: 145px;
    position: relative;
}


.encabezado-navegacion ul {
    list-style-type: none;
}


.encabezado-navegacion ul li {
    display:inline-block;
    margin: 70px 50px;   
}

.encabezado-navegacion ul li a {
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    color: rgb(248, 252, 249);
    text-decoration: none;
}

/* comienzo del body del index.html */

.cuerpo-horarios {
    border-style:solid;
    border-width: 10px;
    height: 1080px;
    background-image: url(public/fondo-horarios.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cuerpo-horario-tabla {
    font-size: 50px;
    text-align: center;
    margin:0 auto;
    border-style: dashed;
    border-width: 10px;
    width: 500px;
    background-color: rgb(236, 195, 15);
}

/* estilo del footer */

footer p {
    font-family: 'Abril Fatface', cursive;  
    color: aliceblue;
    text-align: center;
    background-color: #ff6961;
    margin: 0;
}

.icono-redes {
    text-align: center;
    background-color: #f5443b;
}

/* inicio estilo atencion al cliente */


.contenido-atencion {
    background-image: url(public/ejemplo-plato-3.jpg);
    background-repeat:space;
    background-size: contain;
}

.sugerencia {
    background-color: bisque;
    width: 1090px;
    height: 1000px;
    margin: auto;
}



.titulo-sugerencia {
    padding-left: 35px;
    margin-top: 0px;
    margin-bottom: 25px;
    font-family: 'Abril Fatface', cursive; 

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo-sugerencia h1{
    color: #ffcc00;
    font-size: 70px;
    font-weight: bold;
    background-color: aliceblue;
}

.titulo-sugerencia {
    font-size: 30px;
    color: rgb(10, 10, 10);
}

.formulario {
    width: 100%;
    font-size: 30px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.formulario p {
    text-align: center;
    width: 400px;
    height: 120px;
    text-align: center;
    margin: 0 auto;
}

.formulario input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: center;
}

.formulario img {
    width: 550px;
    height: 450px;

}

/* inicio estilo ubicacion */

.contenido-ubicacion {
    background-image: url(public/atencion-cliente-fondo.jpg);
    background-repeat: space;
    background-size: contain;
}

.ubicacion {
    text-align: center;
    background-color: blanchedalmond;
    width: 1500px;
    margin: auto;
    height: 1000px;
}

.ubicacion-titulo {
    font-size: 100px;
    font-family: 'Abril Fatface', cursive;  
    margin: 0; 
}

.ubicacion-informacion {
    font-size: 50px;
    font-family: 'Pacifico', cursive;
    text-align: center;
    margin:0 auto;
    width: 1500px;
    background-color: rgb(236, 195, 15);

    display:flex;
    align-items: center;
    justify-content: center;
}

.ubicacion-lista {
    list-style-type: none;
}

/* inicio estilo productos */

.producto {
    background-color: #f8db68;
    
}

.producto-estrella  {
    list-style-type: none;
    padding: 15px;
    display:flex ;
    justify-content: center;
    align-items: center;
    
}

.producto-estrella-parrafo {
    display: flex;
    flex-direction: column;
}

.producto-estrella-parrafo h2 {
    font-size: 50px;
    font-family: 'Abril Fatface', cursive;  
    color: aliceblue;
}

.producto-estrella-parrafo h3 {
    font-size: 40px;
    font-family: 'Pacifico', cursive;
    background-color: aliceblue;
    color:#ffcc00;
    text-align: center;
}

.producto-estrella-parrafo p {
    max-width: 600px;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
}

.producto-estrella img {
    width: 650px;
    height: 650px;
    margin: 50px 50px;
}

.titulo-otros-productos {
    width: 500px;
    margin: auto;
    text-align: center;
    font-size: 40px;
    font-family: 'Abril Fatface', cursive;  
    color: #84b6f4;
    background-color: #fdcae1;
}

.otros {
    display:flex ;
    justify-content:space-around ;
    align-items: center;
    border-width: 15px;
    
}

.otros-productos {
    background-color: aliceblue;
    margin: 15px;
    width: 600px;
    text-align: center;
}

.otros-productos img {
    width: 500px;
    height: 400px;
}

.otros-productos h2 {
    font-family: 'Pacifico', cursive;
    background-color:#fdcae1 ; 
}

.otros-productos p {
    font-family:'Abril Fatface', cursive;
}

.tabla {
    padding: 100px ;
}

.tabla-productos {
    font-size: 50px;
    background-color: #f1dd89;
    width: 80%;
    margin: auto; 
    text-align: center;
}

.tabla-productos tr td {
    border: solid 1px
}

.tabla-productos tr th {
    border: solid 1px ;
}